/* TABLE OF CONTENTS      */

/* 1. APP CONTAINER       */
/* 2. IMAGES AND ICONS    */
/* 3. NAV BAR             */
/* 4. PARENT CONTAINERS   */
/* 5. COMPONENTS          */
/* 6. LABELS              */
/* 7. ERRORS              */



/* 1. APP CONTAINER  */

.mainContainer{
  background-color: #ebebeb;
  background-image: url('https://images.unsplash.com/photo-1487700160041-babef9c3cb55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1935&q=80');

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%; 
  width: 100%;
  


}

.responseLabel{
  text-align: center;
}

.App{
  /* margin: 0em; */
  margin-top: -8em;
  padding: 7em;
  padding-left: 2em;
  padding-right: 2em;
  
}




/* 2. IMAGES AND ICONS */

.articleImage{
  max-width: 100%;
  max-height: 100%;
}


/* 3. NAV BAR  */

.navBar{
  display: flex;
  background-color: rgb(101, 161, 185);
  height: 8vh;
  width: 100%; 
  /* width: 95%;  */
  --spacing: 1em;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.2rem; 
  /* font-weight: 900; */
}

.logoNav{
  overflow: hidden;
  position: fixed;
  width: 95%; 
  top: 0;
  background-color: #ebebeb;
}

.logo{
  padding: -10em;
  margin-left: 15px;
  font-family: 'Homemade Apple', cursive;
  letter-spacing: 4px;
  font-size: 30px;
  background-color: #ebebeb;
}


.tabTitle{
  background-color: inherit;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: auto;
  text-decoration: none;
  color: aliceblue;
  font-weight: 300;
  font-stretch: extra-expanded;
  position: relative;
  padding: calc(var(--spacing) / 2) var(--spacing);
}



.tabTitle:after {
  content: "";
  position: absolute;
  display: block;
  bottom: .1em;
  background-color: white;
  /* left: var(--spacing);
  right: var(--spacing); */
  height: 3px;
  width: 80%;
   -webkit-transform: scaleX(0);
          transform: scaleX(0);
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out; 
}

.tabTitle:hover::after{
  content: "";
  font-weight: bolder;
   -webkit-transform: scaleX(1);
  transform: scaleX(1);
  }


  .tabTitle:focus{
    font-weight: 900;
    /* outline: none; */
    font-size: 1.3rem; 
    transition: transform 550ms
    }

.tabTitle:active{
font-weight: 900;
}


/* 4. PARENT CONTAINERS */
.ArticleContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  margin-top: 20px;
  
}

/* .categorySelect{
  position: fixed;
  background-color: #ebebeb;
} */

.loginContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 6em;
  /* justify-content: space-evenly; */
}

.wellnessContainer{
  display: flex;
  justify-content: flex-end;
  min-height: 100vh;
}

.wellnessContainerFirst{
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
  margin-right: 3em;
  margin-top: 210px;
  background-color: #ebebeb;
  /* justify-content: flex-end; */
}

.moodContainer{
  display: flex;
  justify-content: flex-end;
  min-height: 100vh;
}

.profileTop{
  display: flex;
  justify-content: flex-end;
  min-height: 100vh;
}

.profileTopFirst{
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
  margin-right: 3em;
  margin-top: 250px;
  /* justify-content: flex-end; */
}

.moodContainerFirst{
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
  margin-right: 3em;
  margin-top: 250px;
  /* justify-content: flex-end; */
}

.journalContainer{
  display: flex;
  justify-content: flex-end;
  min-height: 100vh;
}

.journalContainerFirst{
  /* border: solid black; */
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
  margin-right: 3em;
  margin-top: 250px;
}

.videoBody{
  min-height: 100vh;
  /* margin-top: 300px; */
  margin-top: 177px;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.videoQuotes{
  margin-top: -250px;
  text-align: center;
  font-size: 2rem;
  font-family: 'Cedarville Cursive', cursive;
  z-index: 1;
  margin-bottom: -30px;
  letter-spacing: 4px;
  position: fixed;
}

.video{
  width: 1370px;
  height: 100vh;
  overflow: hidden;
  position: fixed;
}

.video-container{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
}


/* 5. COMPONENTS */

.articleItem{
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: 100%;
  /* border: 3px solid rgb(195, 195, 195); */
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  /* background-color: white; */
  border-style: none;

  background-color: rgba(5, 5, 5, 0.794);
  color: white;
}

.moodBtns{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.updateBtn{
  background-color: rgba(48, 206, 145, 0.835);
  border-style: none;
  border-radius: 12pt;
  height: 25px;
  width: 60px;
  margin-right:500px;
}

.deleteMoodBtn {
  background-color: rgba(255, 99, 71, 0.767);
  border-style: none;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

.articleTitle{
  color:white;
  font-weight: bolder;
  font-size: 1.75rem; 
  margin-bottom: 2px;
  letter-spacing: 1px;
}

.articleBody{
  align-items: flex-start;
  letter-spacing: 1px;
  font-weight: 600;
}


.cardBottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.articleCat{
  color: rgb(54, 54, 54);
}

.articleDD{
  margin-left: 1rem;

  margin: 5px;
  height:30px;
  width: 10rem;
    font-size:14pt;
}

.favBtn{
  background-color: #4ca493;
  width: 90px;
  height: 35px;
  border-radius: 20px;
  border-style: none;
  color: white;
  font-size: 16px;
  outline: none;
  margin: 10px;
  margin-right: 10px;
}
.removeBtn{
  background-color: rgba(255, 99, 71, 0.746);
  width: 90px;
  height: 35px;
  border-radius: 20px;
  border-style: none;
  color: white;
  font-size: 16px;
  outline: none;
  margin: 10px;
  margin-right: 10px;
}

.journalForm{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-grow: 0;
  /* border: 3px solid rgb(195, 195, 195); */
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(5, 5, 5, 0.794);
  color: white;
  align-items: center;
}
/* .journalForm{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-grow: 0;
  border: 3px solid rgb(195, 195, 195);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  
  background-color: rgba(5, 5, 5, 0.794);
  color: white;
  align-items: center;
} */

.moodForm{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-grow: 0;
  border: 3px solid rgb(195, 195, 195);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  /* background-color: white; */
  background-color: rgba(5, 5, 5, 0.794);
  color: white;
  align-items: center;
  border-style: none;
}

.btnPressed{
  background-color: rgba(8, 126, 141, 0.973);

  margin: 6px;
  border-radius: 12px;

  color: white;
  border-color: white;
  height: 2rem;
  width: 7rem;
  font-size: 16px;
}

.formInput{
  margin: 5px;
  height:30px;
  width: 30rem;
  font-size:16pt;
}

.numbers{
  font-size: 30px;
}

.loginInput{
  margin: 3px 0px;
  height:22px;
  width: 20rem;
    font-size:12pt;
}

.prompt{
  font-size: 30px;
  text-align: center;
  margin: 20px;
}

.cardPrompt{
  margin-bottom: 34px;
  text-align: center;
  font-size: 26px;
  margin-top: 10px;
}

.formBtn{
  background-color:#4ca492b4;
  /* background-color: rgb(184, 108, 143); */
  height: 30px;
  width: 100px;
  border-radius: 6px;
  /* opacity: 0.8; */
  transition: 0.3s;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: none;
}

.formBtn:hover {background-color:#4ca493;}

.tagBtn{
  margin: 6px;
  border-radius: 12px;
  background-color: rgba(5, 5, 5, 0);
  color: white;
  border-color: white;
  height: 2.2rem;
  width: 7.3rem;
  font-size: 16px;
  outline: none;
  /* border-style: none; */
}

.tagBtn:focus{
  outline: none;
}

.tagBtnContainer{
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  outline: none;
}

.showHistory{
  width: 90px;
  margin-top: 30px;
  height: 40px;
  width: 200px;
  font-size: 19px;
  border-radius: 20pt;
  outline: none;
}

.showHistory:hover{
  background-color: #336d62;
  color: white;
  transition: 0.3s;
}

/* .showHistory:focus{
  outline: none;
  background-color: #336d62;
  color: white;
} */

.historyBtnDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginBtns{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.enterBtn{
  background-color:#4ca492b4;
  height: 30px;
  width: 100px;
  border-radius: 6px;
  transition: 0.3s;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  border-style: none;
  margin: 20px;
  margin-left:-90px;
}

.enterBtn:hover{
  background-color:#4ca493;
}

.altBtnLink{
  font-size: 20px;
  margin-left:-112px;
  margin-top: -25px;
  text-decoration: none;
  color: rgb(42, 81, 165);
}

.personalInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.profileImage{
  margin: 20px;
  margin-right: 8px;
  margin-left: -5px;
  border-radius: 8pt;

}

.moodSubmitBtn{
  background-color:#4ca492b4;
  height: 30px;
  width: 100px;
  border-radius: 6px;
  transition: 0.3s;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  border-style: none;
  margin-bottom: 20px;
}

.moodSubmitBtn:hover {background-color:#4ca493;}

.moodCard{
  display: flex;
  
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-grow: 0;
  border: 3px solid rgb(195, 195, 195);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(5, 5, 5, 0.794);
  color: white;
}

.moodName{
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 10px;
  letter-spacing: 1px;
}

.moodDate{
  letter-spacing: 1px;
}

.moodTagContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: -20px;
}

.moodTag{
  flex-basis: 20%;
  letter-spacing: 1px;
  /* font-size: 18px; */
}

.journalCard{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-grow: 0;
  border: 3px solid rgb(195, 195, 195);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(5, 5, 5, 0.794);
  color: white;
  font-size: 1.3rem;
}

.journalCard button{
  background-color: rgba(255, 99, 71, 0.767);
  border-style: none;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.entryResp{
  margin-top: -10px;
  font-size: 21px;
}

.journalDate{
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}

.profile{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-grow: 0;
  /* border: 3px solid rgb(195, 195, 195); */
  border-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(5, 5, 5, 0.794);
  color: white;
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.textInfo{
  margin: 10px;
}

.profileFavs{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.editBtnDiv{
  display: flex;
  justify-content: center;
}

.editProfileBtn{
  background-color:#4ca492b4;
  height: 30px;
  width: 180px;
  border-radius: 6px;
  transition: 0.3s;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  border-style: none;
  margin-top: 45px;
}

.editProfileBtn:hover{
  background-color:#4ca493;
}

.stats{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 40px;
}

.mStats{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(5, 5, 5, 0.794);
  color: white;
}

.mStats i{
  font-size: 5rem;
  margin-bottom: -10px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.657);
}
.mStats p {
  font-size: 45px;
  margin-bottom: -5px;
}

.jStats{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(5, 5, 5, 0.794);
  color: white;
}

.jStats p {
  font-size: 45px;
  margin-bottom: -5px;
}

.jStats i{
  font-size: 5rem;
  margin-bottom: -10px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.657);
}



.loginForm{
  display: flex;
  flex-direction: column;
  flex-basis: 35%;
  /* border: 3px solid rgb(195, 195, 195); */
  margin-top: 40px;
  margin-bottom: 30vh;
  padding: 10px;
  border-radius: 10px;
  /* background-color: white; */
  justify-content: center;
  min-height: 100vh;
 
 
}

.formBottom{
  display: flex;
  flex-direction: column;
}



/* 6. LABELS */

.formLabels{
  font-weight: bold;
  font-display: center;
}

.topLabel{
  margin-left: 27%;
}
.topLabelWelcome{
  margin-left: 20%;
  margin-top: 100px;
}
.topLabelPara{
  margin-left: 20%;
  margin-top: -10px;
  margin-bottom: 35px;
}

.sectionLabel{
  padding: -10em;
  font-family: 'Homemade Apple', cursive;
  letter-spacing: 4px;
  font-size: 30px;
}

.moodLabel{
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 20px;
}

.selectLabel{
  letter-spacing: 1px;
  font-size: 20px;
}

/* 7. ERRORS */

.errors{
  color: tomato;
  font-size: 14pt;
  margin-top: 20px;
}