.navBar{
  display: flex;
  background-color: burlywood;
  height: 10vh;
  width: 100%;
}

.tabTitle{
  background-color: aqua;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: auto;
}